@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lobster);
body {
	font-family: 'Raleway', sans-serif;
	background-color: #CF5C00;
}
header {
  font-family: 'Lobster','cursive';
  font-size: 50px;
  text-align: center;
  color: #321600;
}
footer {
  text-align: center;
  color: #321600;
}
.center_obj {
  position: relative;
  background: #FFAD6C;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body div div input {
  font-family: "Raleway", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
body div div div {
  text-align:left;
  background-color: #f2f2f2;
  font-size: 25px;
}
body div div div a {
  color: #321600;
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  margin: 5px 0 5px;
}
body div div div a:hover {
  color: #FFAD6C;
}
img {
  max-width: 100%;
  max-height: 100%;
}