@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lobster);
body {
	font-family: 'Raleway', sans-serif;
	background-color: #CF5C00;
}
header {
	font-family: 'Lobster','cursive';
	font-size: 70px;
	text-align: center;
	color: #321600;
}
input[name="username"] {
  width:81%;
  align:left;
} 
.login {
  width: 390px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  background: #FFAD6C;
  max-width: 360px;
  margin: 0 auto 100px;
  text-align: center;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.g-recaptcha {
  max-width: 100%;
}
span img {
  position: relative;
  size: 100%;
  width: 30px;
  height: 30px;
  margin: 0 10px 0;
  top:12px;
}
.tick_image {
  margin: 0 0 10px;
}
.field {
  font-family: "Raleway", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.button {
  font-family: "Lobster", 'cursive';
  outline: 0;
  background: #FF7400;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
footer {
  text-align: center;
  color: #321600;
}